html {
  font-size: 62.5%;
}

#innerContainer {
  display: flex;
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  width: 80%;
}

#cardPreview {
  align-content: space-between;
  display: flex;
  flex: 3;
  flex-direction: column;
  padding-right: 3rem;
}

#formBox {
  align-items: flex-start;
  flex: 7;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 10%;
  width: 100%;
}

.inline {
  display: inline-block;
  margin-right: 3rem;
}

.block {
  display: block;
}

ul {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  list-style-type: none;
  width: 100%;
}

li {
  padding: 0.5rem;
}

#translated {
  background-color: #c4c4c4;
  border: 0.2rem solid #136f9f;
  color: black;
  font-size: 2.2rem;
  height: 3rem;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  padding-left: 1rem;
  width: 60%;
}

#submission {
  background-color: #136f9f;
  border: none;
  border-radius: 1rem;
  color: white;
  font-size: 2rem;
  margin-top: 1.5rem;
  padding: 1.2rem 2.5rem;
  text-align: center;
  text-decoration: none;
}

.holdCard {
  margin-bottom: 20px;
}

#submission:hover {
  background-color: #1d303d;
}
/* Mobile layout */
@media screen and (max-width: 700px) {
  
  .inline {
    margin-right: none;
  }

  #innerContainer {
    flex-direction: column;
  }

  #cardPreview {
    min-height: 100vh;
    padding-right: 0;
  }

  .holdCard {
    flex: 5;
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  #formBox {
    justify-content: center;
  }
}