html {
  font-size: 62.5%;
}

#folderPreview {
  align-items: center;
  background-color: white;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
  color: black;
  display: flex;
  flex: 3;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
  height: 50%;
  justify-content: center;
  width: 80%;
}

#container {
  background-color: white;
  border: 1rem solid white;
  border-radius: 1rem;
  display: flex;
  flex: 9;
  justify-content: center;
  margin: 1%;
}

#innerContainer {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  width: 80%;
}

#previewFolderName {
  display: flex;
  margin-bottom: unset;
  text-decoration: underline;
}

#previewFolderLang {
  display: flex;
  margin-top: unset;
}

#formBox {
  align-items: flex-start;
  flex: 8;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
}

ul {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  list-style-type: none;
  width: 100%;
}

li {
  padding: 0.5rem;
}

#folderName {
  border: 0.2rem solid #136f9f;
  border-radius: 0.5rem;
  font-size: 1.75rem;
  height: 2.5rem;
  width: 50%;
}

#folderDefaultLanguage {
  background-color: white;
  border: 0.2rem solid #136f9f;
  border-radius: 0.5rem;
  color: black;
  font-size: 1.75rem;
  height: 2.5rem;
  min-width: 12rem;
  width: 30%;
}

#submission {
  background-color: #136f9f;
  border: none;
  border-radius: 1rem;
  color: white;
  font-size: 2rem;
  margin-top: 1.5rem;
  padding: 1.2rem 2.5rem;
  text-align: center;
  text-decoration: none;
}

#submission:hover {
  background-color: #1d303d;
}

/* Mobile layout */
@media (max-width: 700px) {
  
  #formBox {
    flex: 1;
  }

  #folderPreview {
    flex: 1;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #innerContainer {
    flex-direction: column;
    margin-bottom: 10rem;
  }

  #previewFolderName {
    font-size: 3rem;
  }

  #previewFolderLang {
    font-size: 2.25rem;
  }
}
