
.myButton {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin:0 20px;
    border-radius: 25px;
  }

.myButton a {
    color:black;
    text-decoration: none;
    line-height: 1;
}